@use "vars" as *;

/* ====================================================
Header
==================================================== */
#header {
	position: fixed;
	width: 100%;
	background: #FBFBFB;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
	padding: 24px;
	top: 0;
	left: 0;
	z-index: 999;
	@include mq(tb) {
		padding: 12px 16px;
	}
	
	.header-logo {
		display: block;
		width: 100%;
		max-width: 162px;
		@include mq(tb) {
			max-width: 121px;
		}
	}

	.header-nav {
		position: fixed;
		width: 200px;
		height: calc(100vh - 80px);
		background: #FBFBFB;
		box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.25);
		top: 80px;
		left: 0;
		@include mq(xl) {
			width: 130px;
		}
		@include mq(tb) {
			width: 100%;
			height: 84px;
			box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.15);
			padding: 8px;
			top: auto;
			bottom: 0;
		}

		&__menu {
			@include mq(tb) {
				@include flex(center);
				gap: 60px;
			}
			a {
				text-align: center;
				position: relative;
				display: block;
				@include font-size(12);
				@include mq(tb-min) {
					@include font-size(16);
					padding: 17px 15px;
					&::before {
						content: "";
						position: absolute;
						width: 0;
						height: 100%;
						background: #CC7B22;
						top: 0;
						left: 0;
						transition: 0.3s ease;
					}
					&.header-nav__menu-data {
						position: fixed;
						@include flex(center, center);
						gap: 8px;
						width: 163px;
						height: 40px;
						border: 1px solid #9E9E9E;
						border-radius: 8px;
						box-shadow: 0px 0.5px 0px 2px rgba(0, 0, 0, 0.05);
						font-weight: bold;
						padding: 5px 5px 8px;
						top: 20px;
						right: 182px;
						.icon {
							display: block;
							position: relative;
							width: 14px;
						}
						&:hover {
							background: #F4F4F4;
							color: #1F1F1F;
							&::before {
								width: 0;
							}
						}
						&:focus {
							background: #E0E0E0;
							color: #1F1F1F;
						}
					}
				}
				@include mq(tb) {
					width: 48px;
					height: 48px;
					padding-top: 28px;
				}
				.icon {
					position: absolute;
					@include mq(tb-min) {
						display: none;
					}
					@include mq(tb) {
						@include flex(center, center);
						width: 24px;
						height: 24px;
						top: 2px;
						@include h-align;
					}
					img {
						transition: 0.3s ease;
					}
					.off {
						position: absolute;
						opacity: 0;
						@include v-h-align;
					}
				}
				&:hover, &.active {
					opacity: 1;
					color: #CC7B22;
					font-weight: bold;
					@include mq(tb-min) {
						background: #F4F4F4;
						&::before {
							width: 4px;
						}
					}
					@include mq(tb) {
						font-weight: bold;
						.icon {
							.show {
								opacity: 0;
							}
							.off {
								opacity: 1;
							}
						}
					}
				}
			}
		}
	}

	.header-user {
		@include mq(tb-min) {
			display: block !important;
		}
		@include mq(tb) {
			position: absolute;
			display: none;
			width: 100%;
			padding: 5px 16px 6px;
			top: 48px;
			left: 0;
			z-index: 1;
			&::before {
				content: "";
				position: absolute;
				background: rgba(0, 0, 0, 0.25);
				width: 100%;
				height: calc(100vh - 48px);
				top: 0;
				left: 0;
				z-index: -2;
			}
			&::after {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				background: #FBFBFB;
				top: 0;
				left: 0;
				z-index: -1;
			}
		}
		&__info {
			@include flex(between, center);
			padding: 10px 2px 11px;
			margin-bottom: 8px;
			@include mq(tb-min) {
				display: none;
			}
			&-img {
				width: 20px;
				height: 20px;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					border-radius: 50%;
				}
			}
			&-txt {
				width: calc(100% - 30px);
				color: #5C5C5C;
				font-weight: 500;
				@include font-size(14);
				padding-top: 1px;
			}
		}
		&__btn {
			@include mq(tb-min) {
				position: fixed;
				@include flex(center, center);
				gap: 8px;
				width: 130px;
				height: 40px;
				border: 1px solid #9E9E9E;
				border-radius: 8px;
				box-shadow: 0px 0.5px 0px 2px rgba(0, 0, 0, 0.05);
				font-weight: bold;
				@include font-size(16);
				padding-bottom: 3px;
				top: 20px;
				right: 28px;
				&::before {
					content: "";
					display: inline-block;
					width: 14px;
					height: 14px;
					background: url(../img/common/icon-logout.svg) center no-repeat;
					background-size: contain;
				}
				&:hover {
					opacity: 1;
					background: #F4F4F4;
				}
				&:focus {
					background: #E0E0E0;
				}
			}
			@include mq(tb) {
				@include flex(center, center);
				width: 100%;
				height: 41px;
				background: #FBFBFB;
				color: #C20B2A;
				border-radius: 8px;
				font-weight: bold;
				@include font-size(16);
				padding-bottom: 4px;
				&:hover {
					background: #F4F4F4;
				}
				&:focus {
					background: #E0E0E0;
				}
			}
		}
	}

	.js-mobile {
		width: 32px;
		height: 32px;
		position: absolute;
		right: 16px;
		@include v-align;
		cursor: pointer;
		z-index: 12;
		display: none;
		@include mq(tb) {
			display: block;
		}

		span {
			position: absolute;
			display: block;
			width: 22px;
			height: 2px;
			background: #1F1F1F;
			border-radius: 3px;
			@include v-h-align;

			&:before, &:after {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				background: #1F1F1F;
				border-radius: 3px;
				left: 0;
				transition: 0.3s ease;
			}

			&:before {
				top: -7px;
			}

			&:after {
				bottom: -7px;
			}
		}

		&--close {
			span {
				background-color: transparent;

				&:before {
					transform: rotate(45deg);
					top: 0;
				}

				&:after {
					transform: rotate(-45deg);
					bottom: 0;
				}
			}
		}
	}
}


.js-locked {
	overflow: hidden;
	-ms-touch-action: none;
	touch-action: none;

	body {
		-webkit-overflow-scrolling: auto;
	}
}