<%- include('common/_breadcrumb'); %>
<section class="sec-customer">
	<div class="inner">
		<div class="block-head">
			<h1 class="c-ttl__01"><a href="/customer/"></a>詳細情報</h1>
			<ul class="list-tab js-tab">
				<li class="list-tab__item"><a href="">顧客情報</a></li>
				<li class="list-tab__item active"><a href="">PDF一括アップロード</a></li>
			</ul>
			<a href="" class="c-btn__01">一括アップロード</a>
		</div>
		<div class="customer-content">
			<div class="customer-content__table">
				<div class="contract-block__control">
					<div class="contract-block__control-select custom-select">
						<select class="situation">
							<option>状況</option>
							<option value="契約中">契約中</option>
							<option value="契約終了">契約終了</option>
						</select>
					</div>
					<div class="contract-block__control-select custom-select">
						<select class="pdf">
							<option>PDF有無</option>
							<option value="あり">あり</option>
							<option value="なし">なし</option>
						</select>
					</div>
					<form class="contract-block__control-search">
						<input type="text" placeholder="Search" name="search">
						<span class="clear-txt"></span>
						<button type="submit"></button>
					</form>
				</div>
				<div class="contract-list">
					<div class="contract-list__item contract-list__item--top">
						<div class="contract-list__sub">物件名</div>
						<div class="contract-list__sub">部屋番号</div>
						<div class="contract-list__sub">契約者名</div>
						<div class="contract-list__sub">契約始期</div>
						<div class="contract-list__sub">状況</div>
						<div class="contract-list__sub">PDFの有無</div>
					</div>
					<a href="" class="contract-list__item">
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">物件名</p>
							<p class="contract-list__sub-txt">リードシー東神田ビル</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">部屋番号</p>
							<p class="contract-list__sub-txt">1</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">契約者名</p>
							<p class="contract-list__sub-txt">有限会社　バリーバ二オンゴルフ　代表取締役　大和次郎</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">契約始期</p>
							<p class="contract-list__sub-txt">2022/4/2</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">状況</p>
							<p class="contract-list__sub-txt">契約中</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">PDFの有無</p>
							<p class="contract-list__sub-txt">あり</p>
						</div>
					</a>
					<a href="" class="contract-list__item">
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">物件名</p>
							<p class="contract-list__sub-txt">リードシー東神田ビル</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">部屋番号</p>
							<p class="contract-list__sub-txt">1</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">契約者名</p>
							<p class="contract-list__sub-txt">有限会社　バリーバ二オンゴルフ　代表取締役　大和次郎</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">契約始期</p>
							<p class="contract-list__sub-txt">2022/4/2</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">状況</p>
							<p class="contract-list__sub-txt">契約中</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">PDFの有無</p>
							<p class="contract-list__sub-txt">あり</p>
						</div>
					</a>
					<a href="" class="contract-list__item">
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">物件名</p>
							<p class="contract-list__sub-txt">リードシー東神田ビル</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">部屋番号</p>
							<p class="contract-list__sub-txt">1</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">契約者名</p>
							<p class="contract-list__sub-txt">有限会社　バリーバ二オンゴルフ　代表取締役　大和次郎</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">契約始期</p>
							<p class="contract-list__sub-txt">2022/4/2</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">状況</p>
							<p class="contract-list__sub-txt">契約中</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">PDFの有無</p>
							<p class="contract-list__sub-txt">あり</p>
						</div>
					</a>
					<a href="" class="contract-list__item">
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">物件名</p>
							<p class="contract-list__sub-txt">リードシー東神田ビル</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">部屋番号</p>
							<p class="contract-list__sub-txt">1</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">契約者名</p>
							<p class="contract-list__sub-txt">有限会社　バリーバ二オンゴルフ　代表取締役　大和次郎</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">契約始期</p>
							<p class="contract-list__sub-txt">2022/4/2</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">状況</p>
							<p class="contract-list__sub-txt">契約中</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">PDFの有無</p>
							<p class="contract-list__sub-txt">あり</p>
						</div>
					</a>
					<a href="" class="contract-list__item">
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">物件名</p>
							<p class="contract-list__sub-txt">リードシー東神田ビル</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">部屋番号</p>
							<p class="contract-list__sub-txt">1</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">契約者名</p>
							<p class="contract-list__sub-txt">有限会社　バリーバ二オンゴルフ　代表取締役　大和次郎</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">契約始期</p>
							<p class="contract-list__sub-txt">2022/4/2</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">状況</p>
							<p class="contract-list__sub-txt">契約中</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">PDFの有無</p>
							<p class="contract-list__sub-txt">あり</p>
						</div>
					</a>
					<a href="" class="contract-list__item">
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">物件名</p>
							<p class="contract-list__sub-txt">リードシー東神田ビル</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">部屋番号</p>
							<p class="contract-list__sub-txt">1</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">契約者名</p>
							<p class="contract-list__sub-txt">有限会社　バリーバ二オンゴルフ　代表取締役　大和次郎</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">契約始期</p>
							<p class="contract-list__sub-txt">2022/4/2</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">状況</p>
							<p class="contract-list__sub-txt">契約中</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">PDFの有無</p>
							<p class="contract-list__sub-txt">あり</p>
						</div>
					</a>
					<a href="" class="contract-list__item">
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">物件名</p>
							<p class="contract-list__sub-txt">リードシー東神田ビル</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">部屋番号</p>
							<p class="contract-list__sub-txt">1</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">契約者名</p>
							<p class="contract-list__sub-txt">有限会社　バリーバ二オンゴルフ　代表取締役　大和次郎</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">契約始期</p>
							<p class="contract-list__sub-txt">2022/4/2</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">状況</p>
							<p class="contract-list__sub-txt">契約中</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">PDFの有無</p>
							<p class="contract-list__sub-txt">あり</p>
						</div>
					</a>
					<a href="" class="contract-list__item">
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">物件名</p>
							<p class="contract-list__sub-txt">リードシー東神田ビル</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">部屋番号</p>
							<p class="contract-list__sub-txt">1</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">契約者名</p>
							<p class="contract-list__sub-txt">有限会社　バリーバ二オンゴルフ　代表取締役　大和次郎</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">契約始期</p>
							<p class="contract-list__sub-txt">2022/4/2</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">状況</p>
							<p class="contract-list__sub-txt">契約中</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">PDFの有無</p>
							<p class="contract-list__sub-txt">あり</p>
						</div>
					</a>
					<a href="" class="contract-list__item">
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">物件名</p>
							<p class="contract-list__sub-txt">リードシー東神田ビル</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">部屋番号</p>
							<p class="contract-list__sub-txt">1</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">契約者名</p>
							<p class="contract-list__sub-txt">有限会社　バリーバ二オンゴルフ　代表取締役　大和次郎</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">契約始期</p>
							<p class="contract-list__sub-txt">2022/4/2</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">状況</p>
							<p class="contract-list__sub-txt">契約中</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">PDFの有無</p>
							<p class="contract-list__sub-txt">あり</p>
						</div>
					</a>
					<a href="" class="contract-list__item">
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">物件名</p>
							<p class="contract-list__sub-txt">リードシー東神田ビル</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">部屋番号</p>
							<p class="contract-list__sub-txt">1</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">契約者名</p>
							<p class="contract-list__sub-txt">有限会社　バリーバ二オンゴルフ　代表取締役　大和次郎</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">契約始期</p>
							<p class="contract-list__sub-txt">2022/4/2</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">状況</p>
							<p class="contract-list__sub-txt">契約中</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">PDFの有無</p>
							<p class="contract-list__sub-txt">あり</p>
						</div>
					</a>
					<a href="" class="contract-list__item">
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">物件名</p>
							<p class="contract-list__sub-txt">リードシー東神田ビル</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">部屋番号</p>
							<p class="contract-list__sub-txt">1</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">契約者名</p>
							<p class="contract-list__sub-txt">有限会社　バリーバ二オンゴルフ　代表取締役　大和次郎</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">契約始期</p>
							<p class="contract-list__sub-txt">2022/4/2</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">状況</p>
							<p class="contract-list__sub-txt">契約中</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">PDFの有無</p>
							<p class="contract-list__sub-txt">あり</p>
						</div>
					</a>
					<a href="" class="contract-list__item">
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">物件名</p>
							<p class="contract-list__sub-txt">リードシー東神田ビル</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">部屋番号</p>
							<p class="contract-list__sub-txt">1</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">契約者名</p>
							<p class="contract-list__sub-txt">有限会社　バリーバ二オンゴルフ　代表取締役　大和次郎</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">契約始期</p>
							<p class="contract-list__sub-txt">2022/4/2</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">状況</p>
							<p class="contract-list__sub-txt">契約中</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">PDFの有無</p>
							<p class="contract-list__sub-txt">あり</p>
						</div>
					</a>
					<a href="" class="contract-list__item">
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">物件名</p>
							<p class="contract-list__sub-txt">リードシー東神田ビル</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">部屋番号</p>
							<p class="contract-list__sub-txt">1</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">契約者名</p>
							<p class="contract-list__sub-txt">有限会社　バリーバ二オンゴルフ　代表取締役　大和次郎</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">契約始期</p>
							<p class="contract-list__sub-txt">2022/4/2</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">状況</p>
							<p class="contract-list__sub-txt">契約中</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">PDFの有無</p>
							<p class="contract-list__sub-txt">あり</p>
						</div>
					</a>
					<a href="" class="contract-list__item">
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">物件名</p>
							<p class="contract-list__sub-txt">リードシー東神田ビル</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">部屋番号</p>
							<p class="contract-list__sub-txt">1</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">契約者名</p>
							<p class="contract-list__sub-txt">有限会社　バリーバ二オンゴルフ　代表取締役　大和次郎</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">契約始期</p>
							<p class="contract-list__sub-txt">2022/4/2</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">状況</p>
							<p class="contract-list__sub-txt">契約中</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">PDFの有無</p>
							<p class="contract-list__sub-txt">あり</p>
						</div>
					</a>
					<a href="" class="contract-list__item">
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">物件名</p>
							<p class="contract-list__sub-txt">リードシー東神田ビル</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">部屋番号</p>
							<p class="contract-list__sub-txt">1</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">契約者名</p>
							<p class="contract-list__sub-txt">有限会社　バリーバ二オンゴルフ　代表取締役　大和次郎</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">契約始期</p>
							<p class="contract-list__sub-txt">2022/4/2</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">状況</p>
							<p class="contract-list__sub-txt">契約中</p>
						</div>
						<div class="contract-list__sub">
							<p class="contract-list__sub-ttl">PDFの有無</p>
							<p class="contract-list__sub-txt">あり</p>
						</div>
					</a>
				</div>
				<div class="wp-pagination">
					<div class="wp-pagenavi" role="navigation">
						<!-- <a class="previouspostslink"></a> -->
						<span class="current">1</span>
						<a href="" class="page">2</a>
						<a href="" class="page">3</a>
						<a href="" class="page">4</a>
						<a href="" class="page">...</a>
						<a href="" class="page">19</a>
						<a href="" class="page">20</a>
						<a href="" class="nextpostslink"></a>
					</div>
				</div>
			</div>
			<div class="customer-content__upload link-popup">
				<h2 class="customer-content__info-ttl">共有資料</h2>
				<ul class="information-wrap__accor">
					<li class="information-wrap__accor-item">
						<div class="information-wrap__accor-btn js-accor">送金明細書</div>
						<div class="information-wrap__accor-ct">
							<ul class="information-wrap__news">
								<li class="information-wrap__news-item">
									<a href="">
										<p>【6月分物件別送金明細書】  xxxホールディングス株式会社様 _20250521.pdf</p>
										<span>更新日<time>2025/5/31</time></span>
									</a>
									<span class="information-wrap__news-close"></span>
								</li>
								<li class="information-wrap__news-item">
									<a href="">
										<p>【6月分物件別送金明細書】  xxxホールディングス株式会社様 _20250521.pdf</p>
										<span>更新日<time>2025/5/31</time></span>
									</a>
									<span class="information-wrap__news-close"></span>
								</li>
								<li class="information-wrap__news-item information-wrap__news-item--open">
									<a href="">
										<p>【6月分物件別送金明細書】  xxxホールディングス株式会社様 _20250521.pdf</p>
										<span>更新日<time></time></span>
									</a>
									<span class="information-wrap__news-close"></span>
								</li>
								<li class="information-wrap__news-item information-wrap__news-item--open">
									<a href="">
										<p>【6月分物件別送金明細書】  xxxホールディングス株式会社様 _20250521.pdf</p>
										<span>更新日<time>2025/5/31</time></span>
									</a>
									<span class="information-wrap__news-close"></span>
								</li>
							</ul>
						</div>
					</li>
					<li class="information-wrap__accor-item">
						<div class="information-wrap__accor-btn js-accor">契約書</div>
						<div class="information-wrap__accor-ct">
							<ul class="information-wrap__news">
								<li class="information-wrap__news-item">
									<a href="">
										<p>【契約書】  xxxホールディングス株式会社様 _20250521.pdf</p>
										<span>更新日<time>2025/5/31</time></span>
									</a>
									<span class="information-wrap__news-close"></span>
								</li>
							</ul>
						</div>
					</li>
				</ul>
				<a href="" class="c-btn__01 disable">アップロード</a>
			</div>
		</div>
	</div>
</section>