<section class="sec-customer">
	<div class="inner">
		<div class="block-head">
			<h1 class="c-ttl__01"><a href="/customer/"></a>契約一覧</h1>
			<ul class="list-tab js-tab">
				<li class="list-tab__item active" data-tab="cusinfo01">オーナー</li>
				<li class="list-tab__item" data-tab="cusinfo02">テナント</li>
			</ul>
		</div>
		<div class="customer-content">
			<div class="customer-content__item js-tabct active">
				<div class="customer-content__ct">
					<ul class="information-list">
						<li class="information-list__item">
							<p class="information-list__ttl">契約ID</p>
							<p class="information-list__txt">A002</p>
						</li>
						<li class="information-list__item">
							<p class="information-list__ttl">顧客種別</p>
							<p class="information-list__txt">オーナー</p>
						</li>
						<li class="information-list__item">
							<p class="information-list__ttl">氏名</p>
							<p class="information-list__txt">エナジーハウス　合同会社　代表社員　岡村勝正</p>
						</li>
						<li class="information-list__item">
							<p class="information-list__ttl">氏名（ｶﾅ）</p>
							<p class="information-list__txt">ｴﾅｼﾞｰﾊｳｽ ｺﾞｳﾄﾞｳｶﾞｲｼｬ ﾀﾞｲﾋｮｳｼｬｲﾝ ｵｶﾑﾗｶﾂﾏｻ</p>
						</li>
						<li class="information-list__item">
							<p class="information-list__ttl">区分</p>
							<p class="information-list__txt">法人</p>
						</li>
						<li class="information-list__item">
							<p class="information-list__ttl">郵便番号</p>
							<p class="information-list__txt">530-0047</p>
						</li>
						<li class="information-list__item">
							<p class="information-list__ttl">住所</p>
							<p class="information-list__txt">大阪府大阪市北区西天満3丁目６－８</p>
						</li>
						<li class="information-list__item">
							<p class="information-list__ttl">電話番号</p>
							<p class="information-list__txt">-</p>
						</li>
						<li class="information-list__item">
							<p class="information-list__ttl">メールアドレス</p>
							<p class="information-list__txt">sample@example.com</p>
						</li>
					</ul>
				</div>
				<div class="customer-content__info">
					<div class="customer-content__info-news">
						<h2 class="customer-content__info-ttl"></h2>
						<form class="customer-content__info-search">
							<input type="text" placeholder="Search" name="search">
							<button type="submit"></button>
						</form>
						<div class="contract-list">
							<div class="contract-list__item contract-list__item--top">
								<div class="contract-list__sub">物件名</div>
								<div class="contract-list__sub">部屋番号</div>
								<div class="contract-list__sub">状況</div>
							</div>
							<a href="" class="contract-list__item">
								<div class="contract-list__sub">
									<p class="contract-list__sub-ttl">物件名</p>
									<p class="contract-list__sub-txt">リードシー東神田ビル</p>
								</div>
								<div class="contract-list__sub">
									<p class="contract-list__sub-ttl">部屋番号</p>
									<p class="contract-list__sub-txt">2</p>
								</div>
								<div class="contract-list__sub">
									<p class="contract-list__sub-ttl">状況</p>
									<p class="contract-list__sub-txt">契約中</p>
								</div>
							</a>
							<a href="" class="contract-list__item">
								<div class="contract-list__sub">
									<p class="contract-list__sub-ttl">物件名</p>
									<p class="contract-list__sub-txt">リードシー東神田ビル</p>
								</div>
								<div class="contract-list__sub">
									<p class="contract-list__sub-ttl">部屋番号</p>
									<p class="contract-list__sub-txt">2</p>
								</div>
								<div class="contract-list__sub">
									<p class="contract-list__sub-ttl">状況</p>
									<p class="contract-list__sub-txt">契約中</p>
								</div>
							</a>
							<a href="" class="contract-list__item">
								<div class="contract-list__sub">
									<p class="contract-list__sub-ttl">物件名</p>
									<p class="contract-list__sub-txt">リードシー東神田ビル</p>
								</div>
								<div class="contract-list__sub">
									<p class="contract-list__sub-ttl">部屋番号</p>
									<p class="contract-list__sub-txt">2</p>
								</div>
								<div class="contract-list__sub">
									<p class="contract-list__sub-ttl">状況</p>
									<p class="contract-list__sub-txt">契約中</p>
								</div>
							</a>
							<a href="" class="contract-list__item">
								<div class="contract-list__sub">
									<p class="contract-list__sub-ttl">物件名</p>
									<p class="contract-list__sub-txt">リードシー東神田ビル</p>
								</div>
								<div class="contract-list__sub">
									<p class="contract-list__sub-ttl">部屋番号</p>
									<p class="contract-list__sub-txt">2</p>
								</div>
								<div class="contract-list__sub">
									<p class="contract-list__sub-ttl">状況</p>
									<p class="contract-list__sub-txt">契約中</p>
								</div>
							</a>
							<a href="" class="contract-list__item">
								<div class="contract-list__sub">
									<p class="contract-list__sub-ttl">物件名</p>
									<p class="contract-list__sub-txt">リードシー東神田ビル</p>
								</div>
								<div class="contract-list__sub">
									<p class="contract-list__sub-ttl">部屋番号</p>
									<p class="contract-list__sub-txt">2</p>
								</div>
								<div class="contract-list__sub">
									<p class="contract-list__sub-ttl">状況</p>
									<p class="contract-list__sub-txt">契約中</p>
								</div>
							</a>
							<a href="" class="contract-list__item">
								<div class="contract-list__sub">
									<p class="contract-list__sub-ttl">物件名</p>
									<p class="contract-list__sub-txt">リードシー東神田ビル</p>
								</div>
								<div class="contract-list__sub">
									<p class="contract-list__sub-ttl">部屋番号</p>
									<p class="contract-list__sub-txt">2</p>
								</div>
								<div class="contract-list__sub">
									<p class="contract-list__sub-ttl">状況</p>
									<p class="contract-list__sub-txt">契約中</p>
								</div>
							</a>
							<a href="" class="contract-list__item">
								<div class="contract-list__sub">
									<p class="contract-list__sub-ttl">物件名</p>
									<p class="contract-list__sub-txt">リードシー東神田ビル</p>
								</div>
								<div class="contract-list__sub">
									<p class="contract-list__sub-ttl">部屋番号</p>
									<p class="contract-list__sub-txt">2</p>
								</div>
								<div class="contract-list__sub">
									<p class="contract-list__sub-ttl">状況</p>
									<p class="contract-list__sub-txt">契約中</p>
								</div>
							</a>
							<a href="" class="contract-list__item">
								<div class="contract-list__sub">
									<p class="contract-list__sub-ttl">物件名</p>
									<p class="contract-list__sub-txt">リードシー東神田ビル</p>
								</div>
								<div class="contract-list__sub">
									<p class="contract-list__sub-ttl">部屋番号</p>
									<p class="contract-list__sub-txt">2</p>
								</div>
								<div class="contract-list__sub">
									<p class="contract-list__sub-ttl">状況</p>
									<p class="contract-list__sub-txt">契約中</p>
								</div>
							</a>
							<a href="" class="contract-list__item">
								<div class="contract-list__sub">
									<p class="contract-list__sub-ttl">物件名</p>
									<p class="contract-list__sub-txt">リードシー東神田ビル</p>
								</div>
								<div class="contract-list__sub">
									<p class="contract-list__sub-ttl">部屋番号</p>
									<p class="contract-list__sub-txt">2</p>
								</div>
								<div class="contract-list__sub">
									<p class="contract-list__sub-ttl">状況</p>
									<p class="contract-list__sub-txt">契約中</p>
								</div>
							</a>
							<a href="" class="contract-list__item">
								<div class="contract-list__sub">
									<p class="contract-list__sub-ttl">物件名</p>
									<p class="contract-list__sub-txt">リードシー東神田ビル</p>
								</div>
								<div class="contract-list__sub">
									<p class="contract-list__sub-ttl">部屋番号</p>
									<p class="contract-list__sub-txt">2</p>
								</div>
								<div class="contract-list__sub">
									<p class="contract-list__sub-ttl">状況</p>
									<p class="contract-list__sub-txt">契約中</p>
								</div>
							</a>
						</div>
						<div class="wp-pagination">
							<div class="wp-pagenavi" role="navigation">
								<!-- <a class="previouspostslink"></a> -->
								<span class="current">1</span>
								<a href="" class="page">2</a>
								<a href="" class="page">3</a>
								<a href="" class="page">4</a>
								<a href="" class="page">...</a>
								<a href="" class="page">19</a>
								<a href="" class="page">20</a>
								<a href="" class="nextpostslink"></a>
							</div>
						</div>
					</div>
					<div class="customer-content__info-user">
						<h2 class="customer-content__info-ttl">ログイン情報</h2>
						<ul class="information-list">
							<li class="information-list__item">
								<p class="information-list__ttl">メールアドレス</p>
								<p class="information-list__txt">sample@example.com</p>
							</li>
							<li class="information-list__item">
								<p class="information-list__ttl">初期パスワード</p>
								<p class="information-list__txt">Aa@123456</p>
							</li>
						</ul>
						<a href="" class="c-btn__01">招待メールを送る</a>
					</div>
				</div>
			</div>
			<div class="customer-content__item js-tabct">
				<div class="customer-content__ct"></div>
				<div class="customer-content__upload"></div>
			</div>
		</div>
		<div class="contract-block">
			<div class="contract-block__control">
				<div class="contract-block__control-drop">
					<div class="contract-block__control-dropBtn"></div>
					<ul class="list-tab js-tab">
						<li class="list-tab__item active" data-tab="customer01">オーナー</li>
						<li class="list-tab__item" data-tab="customer02">テナント</li>
					</ul>
				</div>
				<form class="contract-block__control-search">
					<input type="text" placeholder="キーワード検索" name="search">
					<span class="clear-txt"></span>
					<button type="submit"></button>
				</form>
			</div>
			<div class="customer-tabct">
				<div class="customer-tabct__item js-tabct active">
					<div class="contract-list">
						<div class="contract-list__item contract-list__item--top">
							<div class="contract-list__sub">顧客ID</div>
							<div class="contract-list__sub">氏名</div>
							<div class="contract-list__sub">契約数</div>
							<div class="contract-list__sub">物件数</div>
							<div class="contract-list__sub">最終更新日</div>
							<div class="contract-list__sub">最終ログイン</div>
							<div class="contract-list__sub">アプリ招待状況</div>
						</div>
						<a href="" class="contract-list__item">
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">顧客ID</p>
								<p class="contract-list__sub-txt">A001</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">氏名</p>
								<p class="contract-list__sub-txt">株式会社　グリーンインベスト　代表取締役　大塚雄一</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">契約数</p>
								<p class="contract-list__sub-txt">9</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">物件数</p>
								<p class="contract-list__sub-txt">1</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">最終更新日</p>
								<p class="contract-list__sub-txt">2025/6/18</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">最終ログイン</p>
								<p class="contract-list__sub-txt">2025/6/10</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">アプリ招待状況</p>
								<p class="contract-list__sub-txt">招待済み</p>
							</div>
						</a>
						<a href="" class="contract-list__item">
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">顧客ID</p>
								<p class="contract-list__sub-txt">A001</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">氏名</p>
								<p class="contract-list__sub-txt">株式会社　グリーンインベスト　代表取締役　大塚雄一</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">契約数</p>
								<p class="contract-list__sub-txt">9</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">物件数</p>
								<p class="contract-list__sub-txt">1</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">最終更新日</p>
								<p class="contract-list__sub-txt">2025/6/18</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">最終ログイン</p>
								<p class="contract-list__sub-txt">2025/6/10</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">アプリ招待状況</p>
								<p class="contract-list__sub-txt">招待済み</p>
							</div>
						</a>
						<a href="" class="contract-list__item">
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">顧客ID</p>
								<p class="contract-list__sub-txt">A001</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">氏名</p>
								<p class="contract-list__sub-txt">株式会社　グリーンインベスト　代表取締役　大塚雄一</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">契約数</p>
								<p class="contract-list__sub-txt">9</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">物件数</p>
								<p class="contract-list__sub-txt">1</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">最終更新日</p>
								<p class="contract-list__sub-txt">2025/6/18</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">最終ログイン</p>
								<p class="contract-list__sub-txt">2025/6/10</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">アプリ招待状況</p>
								<p class="contract-list__sub-txt">招待済み</p>
							</div>
						</a>
						<a href="" class="contract-list__item">
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">顧客ID</p>
								<p class="contract-list__sub-txt">A001</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">氏名</p>
								<p class="contract-list__sub-txt">株式会社　グリーンインベスト　代表取締役　大塚雄一</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">契約数</p>
								<p class="contract-list__sub-txt">9</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">物件数</p>
								<p class="contract-list__sub-txt">1</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">最終更新日</p>
								<p class="contract-list__sub-txt">2025/6/18</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">最終ログイン</p>
								<p class="contract-list__sub-txt">2025/6/10</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">アプリ招待状況</p>
								<p class="contract-list__sub-txt">招待済み</p>
							</div>
						</a>
						<a href="" class="contract-list__item">
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">顧客ID</p>
								<p class="contract-list__sub-txt">A001</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">氏名</p>
								<p class="contract-list__sub-txt">株式会社　グリーンインベスト　代表取締役　大塚雄一</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">契約数</p>
								<p class="contract-list__sub-txt">9</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">物件数</p>
								<p class="contract-list__sub-txt">1</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">最終更新日</p>
								<p class="contract-list__sub-txt">2025/6/18</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">最終ログイン</p>
								<p class="contract-list__sub-txt">2025/6/10</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">アプリ招待状況</p>
								<p class="contract-list__sub-txt">招待済み</p>
							</div>
						</a>
						<a href="" class="contract-list__item">
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">顧客ID</p>
								<p class="contract-list__sub-txt">A001</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">氏名</p>
								<p class="contract-list__sub-txt">株式会社　グリーンインベスト　代表取締役　大塚雄一</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">契約数</p>
								<p class="contract-list__sub-txt">9</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">物件数</p>
								<p class="contract-list__sub-txt">1</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">最終更新日</p>
								<p class="contract-list__sub-txt">2025/6/18</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">最終ログイン</p>
								<p class="contract-list__sub-txt">2025/6/10</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">アプリ招待状況</p>
								<p class="contract-list__sub-txt">招待済み</p>
							</div>
						</a>
						<a href="" class="contract-list__item">
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">顧客ID</p>
								<p class="contract-list__sub-txt">A001</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">氏名</p>
								<p class="contract-list__sub-txt">株式会社　グリーンインベスト　代表取締役　大塚雄一</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">契約数</p>
								<p class="contract-list__sub-txt">9</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">物件数</p>
								<p class="contract-list__sub-txt">1</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">最終更新日</p>
								<p class="contract-list__sub-txt">2025/6/18</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">最終ログイン</p>
								<p class="contract-list__sub-txt">2025/6/10</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">アプリ招待状況</p>
								<p class="contract-list__sub-txt">招待済み</p>
							</div>
						</a>
						<a href="" class="contract-list__item">
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">顧客ID</p>
								<p class="contract-list__sub-txt">A001</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">氏名</p>
								<p class="contract-list__sub-txt">株式会社　グリーンインベスト　代表取締役　大塚雄一</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">契約数</p>
								<p class="contract-list__sub-txt">9</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">物件数</p>
								<p class="contract-list__sub-txt">1</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">最終更新日</p>
								<p class="contract-list__sub-txt">2025/6/18</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">最終ログイン</p>
								<p class="contract-list__sub-txt">2025/6/10</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">アプリ招待状況</p>
								<p class="contract-list__sub-txt">招待済み</p>
							</div>
						</a>
						<a href="" class="contract-list__item">
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">顧客ID</p>
								<p class="contract-list__sub-txt">A001</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">氏名</p>
								<p class="contract-list__sub-txt">株式会社　グリーンインベスト　代表取締役　大塚雄一</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">契約数</p>
								<p class="contract-list__sub-txt">9</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">物件数</p>
								<p class="contract-list__sub-txt">1</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">最終更新日</p>
								<p class="contract-list__sub-txt">2025/6/18</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">最終ログイン</p>
								<p class="contract-list__sub-txt">2025/6/10</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">アプリ招待状況</p>
								<p class="contract-list__sub-txt">招待済み</p>
							</div>
						</a>
						<a href="" class="contract-list__item">
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">顧客ID</p>
								<p class="contract-list__sub-txt">A001</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">氏名</p>
								<p class="contract-list__sub-txt">株式会社　グリーンインベスト　代表取締役　大塚雄一</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">契約数</p>
								<p class="contract-list__sub-txt">9</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">物件数</p>
								<p class="contract-list__sub-txt">1</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">最終更新日</p>
								<p class="contract-list__sub-txt">2025/6/18</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">最終ログイン</p>
								<p class="contract-list__sub-txt">2025/6/10</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">アプリ招待状況</p>
								<p class="contract-list__sub-txt">招待済み</p>
							</div>
						</a>
						<a href="" class="contract-list__item">
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">顧客ID</p>
								<p class="contract-list__sub-txt">A001</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">氏名</p>
								<p class="contract-list__sub-txt">株式会社　グリーンインベスト　代表取締役　大塚雄一</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">契約数</p>
								<p class="contract-list__sub-txt">9</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">物件数</p>
								<p class="contract-list__sub-txt">1</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">最終更新日</p>
								<p class="contract-list__sub-txt">2025/6/18</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">最終ログイン</p>
								<p class="contract-list__sub-txt">2025/6/10</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">アプリ招待状況</p>
								<p class="contract-list__sub-txt">招待済み</p>
							</div>
						</a>
						<a href="" class="contract-list__item">
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">顧客ID</p>
								<p class="contract-list__sub-txt">A001</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">氏名</p>
								<p class="contract-list__sub-txt">株式会社　グリーンインベスト　代表取締役　大塚雄一</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">契約数</p>
								<p class="contract-list__sub-txt">9</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">物件数</p>
								<p class="contract-list__sub-txt">1</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">最終更新日</p>
								<p class="contract-list__sub-txt">2025/6/18</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">最終ログイン</p>
								<p class="contract-list__sub-txt">2025/6/10</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">アプリ招待状況</p>
								<p class="contract-list__sub-txt">招待済み</p>
							</div>
						</a>
						<a href="" class="contract-list__item">
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">顧客ID</p>
								<p class="contract-list__sub-txt">A001</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">氏名</p>
								<p class="contract-list__sub-txt">株式会社　グリーンインベスト　代表取締役　大塚雄一</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">契約数</p>
								<p class="contract-list__sub-txt">9</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">物件数</p>
								<p class="contract-list__sub-txt">1</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">最終更新日</p>
								<p class="contract-list__sub-txt">2025/6/18</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">最終ログイン</p>
								<p class="contract-list__sub-txt">2025/6/10</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">アプリ招待状況</p>
								<p class="contract-list__sub-txt">招待済み</p>
							</div>
						</a>
						<a href="" class="contract-list__item">
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">顧客ID</p>
								<p class="contract-list__sub-txt">A001</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">氏名</p>
								<p class="contract-list__sub-txt">株式会社　グリーンインベスト　代表取締役　大塚雄一</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">契約数</p>
								<p class="contract-list__sub-txt">9</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">物件数</p>
								<p class="contract-list__sub-txt">1</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">最終更新日</p>
								<p class="contract-list__sub-txt">2025/6/18</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">最終ログイン</p>
								<p class="contract-list__sub-txt">2025/6/10</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">アプリ招待状況</p>
								<p class="contract-list__sub-txt">招待済み</p>
							</div>
						</a>
						<a href="" class="contract-list__item">
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">顧客ID</p>
								<p class="contract-list__sub-txt">A001</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">氏名</p>
								<p class="contract-list__sub-txt">株式会社　グリーンインベスト　代表取締役　大塚雄一</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">契約数</p>
								<p class="contract-list__sub-txt">9</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">物件数</p>
								<p class="contract-list__sub-txt">1</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">最終更新日</p>
								<p class="contract-list__sub-txt">2025/6/18</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">最終ログイン</p>
								<p class="contract-list__sub-txt">2025/6/10</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">アプリ招待状況</p>
								<p class="contract-list__sub-txt">招待済み</p>
							</div>
						</a>
					</div>
				</div>
				<div class="customer-tabct__item js-tabct">
					<div class="contract-list">
						<div class="contract-list__item contract-list__item--top">
							<div class="contract-list__sub">顧客ID</div>
							<div class="contract-list__sub">氏名</div>
							<div class="contract-list__sub">契約数</div>
							<div class="contract-list__sub">物件数</div>
							<div class="contract-list__sub">最終更新日</div>
							<div class="contract-list__sub">最終ログイン</div>
							<div class="contract-list__sub">アプリ招待状況</div>
						</div>
						<a href="" class="contract-list__item">
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">顧客ID</p>
								<p class="contract-list__sub-txt">A001</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">氏名</p>
								<p class="contract-list__sub-txt">株式会社　グリーンインベスト　代表取締役　大塚雄一</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">契約数</p>
								<p class="contract-list__sub-txt">9</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">物件数</p>
								<p class="contract-list__sub-txt">1</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">最終更新日</p>
								<p class="contract-list__sub-txt">2025/6/18</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">最終ログイン</p>
								<p class="contract-list__sub-txt">2025/6/10</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">アプリ招待状況</p>
								<p class="contract-list__sub-txt">招待済み</p>
							</div>
						</a>
						<a href="" class="contract-list__item">
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">顧客ID</p>
								<p class="contract-list__sub-txt">A001</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">氏名</p>
								<p class="contract-list__sub-txt">株式会社　グリーンインベスト　代表取締役　大塚雄一</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">契約数</p>
								<p class="contract-list__sub-txt">9</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">物件数</p>
								<p class="contract-list__sub-txt">1</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">最終更新日</p>
								<p class="contract-list__sub-txt">2025/6/18</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">最終ログイン</p>
								<p class="contract-list__sub-txt">2025/6/10</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">アプリ招待状況</p>
								<p class="contract-list__sub-txt">招待済み</p>
							</div>
						</a>
						<a href="" class="contract-list__item">
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">顧客ID</p>
								<p class="contract-list__sub-txt">A001</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">氏名</p>
								<p class="contract-list__sub-txt">株式会社　グリーンインベスト　代表取締役　大塚雄一</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">契約数</p>
								<p class="contract-list__sub-txt">9</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">物件数</p>
								<p class="contract-list__sub-txt">1</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">最終更新日</p>
								<p class="contract-list__sub-txt">2025/6/18</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">最終ログイン</p>
								<p class="contract-list__sub-txt">2025/6/10</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">アプリ招待状況</p>
								<p class="contract-list__sub-txt">招待済み</p>
							</div>
						</a>
						<a href="" class="contract-list__item">
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">顧客ID</p>
								<p class="contract-list__sub-txt">A001</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">氏名</p>
								<p class="contract-list__sub-txt">株式会社　グリーンインベスト　代表取締役　大塚雄一</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">契約数</p>
								<p class="contract-list__sub-txt">9</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">物件数</p>
								<p class="contract-list__sub-txt">1</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">最終更新日</p>
								<p class="contract-list__sub-txt">2025/6/18</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">最終ログイン</p>
								<p class="contract-list__sub-txt">2025/6/10</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">アプリ招待状況</p>
								<p class="contract-list__sub-txt">招待済み</p>
							</div>
						</a>
						<a href="" class="contract-list__item">
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">顧客ID</p>
								<p class="contract-list__sub-txt">A001</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">氏名</p>
								<p class="contract-list__sub-txt">株式会社　グリーンインベスト　代表取締役　大塚雄一</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">契約数</p>
								<p class="contract-list__sub-txt">9</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">物件数</p>
								<p class="contract-list__sub-txt">1</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">最終更新日</p>
								<p class="contract-list__sub-txt">2025/6/18</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">最終ログイン</p>
								<p class="contract-list__sub-txt">2025/6/10</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">アプリ招待状況</p>
								<p class="contract-list__sub-txt">招待済み</p>
							</div>
						</a>
						<a href="" class="contract-list__item">
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">顧客ID</p>
								<p class="contract-list__sub-txt">A001</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">氏名</p>
								<p class="contract-list__sub-txt">株式会社　グリーンインベスト　代表取締役　大塚雄一</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">契約数</p>
								<p class="contract-list__sub-txt">9</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">物件数</p>
								<p class="contract-list__sub-txt">1</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">最終更新日</p>
								<p class="contract-list__sub-txt">2025/6/18</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">最終ログイン</p>
								<p class="contract-list__sub-txt">2025/6/10</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">アプリ招待状況</p>
								<p class="contract-list__sub-txt">招待済み</p>
							</div>
						</a>
						<a href="" class="contract-list__item">
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">顧客ID</p>
								<p class="contract-list__sub-txt">A001</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">氏名</p>
								<p class="contract-list__sub-txt">株式会社　グリーンインベスト　代表取締役　大塚雄一</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">契約数</p>
								<p class="contract-list__sub-txt">9</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">物件数</p>
								<p class="contract-list__sub-txt">1</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">最終更新日</p>
								<p class="contract-list__sub-txt">2025/6/18</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">最終ログイン</p>
								<p class="contract-list__sub-txt">2025/6/10</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">アプリ招待状況</p>
								<p class="contract-list__sub-txt">招待済み</p>
							</div>
						</a>
						<a href="" class="contract-list__item">
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">顧客ID</p>
								<p class="contract-list__sub-txt">A001</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">氏名</p>
								<p class="contract-list__sub-txt">株式会社　グリーンインベスト　代表取締役　大塚雄一</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">契約数</p>
								<p class="contract-list__sub-txt">9</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">物件数</p>
								<p class="contract-list__sub-txt">1</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">最終更新日</p>
								<p class="contract-list__sub-txt">2025/6/18</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">最終ログイン</p>
								<p class="contract-list__sub-txt">2025/6/10</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">アプリ招待状況</p>
								<p class="contract-list__sub-txt">招待済み</p>
							</div>
						</a>
						<a href="" class="contract-list__item">
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">顧客ID</p>
								<p class="contract-list__sub-txt">A001</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">氏名</p>
								<p class="contract-list__sub-txt">株式会社　グリーンインベスト　代表取締役　大塚雄一</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">契約数</p>
								<p class="contract-list__sub-txt">9</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">物件数</p>
								<p class="contract-list__sub-txt">1</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">最終更新日</p>
								<p class="contract-list__sub-txt">2025/6/18</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">最終ログイン</p>
								<p class="contract-list__sub-txt">2025/6/10</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">アプリ招待状況</p>
								<p class="contract-list__sub-txt">招待済み</p>
							</div>
						</a>
						<a href="" class="contract-list__item">
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">顧客ID</p>
								<p class="contract-list__sub-txt">A001</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">氏名</p>
								<p class="contract-list__sub-txt">株式会社　グリーンインベスト　代表取締役　大塚雄一</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">契約数</p>
								<p class="contract-list__sub-txt">9</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">物件数</p>
								<p class="contract-list__sub-txt">1</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">最終更新日</p>
								<p class="contract-list__sub-txt">2025/6/18</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">最終ログイン</p>
								<p class="contract-list__sub-txt">2025/6/10</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">アプリ招待状況</p>
								<p class="contract-list__sub-txt">招待済み</p>
							</div>
						</a>
						<a href="" class="contract-list__item">
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">顧客ID</p>
								<p class="contract-list__sub-txt">A001</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">氏名</p>
								<p class="contract-list__sub-txt">株式会社　グリーンインベスト　代表取締役　大塚雄一</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">契約数</p>
								<p class="contract-list__sub-txt">9</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">物件数</p>
								<p class="contract-list__sub-txt">1</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">最終更新日</p>
								<p class="contract-list__sub-txt">2025/6/18</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">最終ログイン</p>
								<p class="contract-list__sub-txt">2025/6/10</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">アプリ招待状況</p>
								<p class="contract-list__sub-txt">招待済み</p>
							</div>
						</a>
						<a href="" class="contract-list__item">
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">顧客ID</p>
								<p class="contract-list__sub-txt">A001</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">氏名</p>
								<p class="contract-list__sub-txt">株式会社　グリーンインベスト　代表取締役　大塚雄一</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">契約数</p>
								<p class="contract-list__sub-txt">9</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">物件数</p>
								<p class="contract-list__sub-txt">1</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">最終更新日</p>
								<p class="contract-list__sub-txt">2025/6/18</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">最終ログイン</p>
								<p class="contract-list__sub-txt">2025/6/10</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">アプリ招待状況</p>
								<p class="contract-list__sub-txt">招待済み</p>
							</div>
						</a>
						<a href="" class="contract-list__item">
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">顧客ID</p>
								<p class="contract-list__sub-txt">A001</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">氏名</p>
								<p class="contract-list__sub-txt">株式会社　グリーンインベスト　代表取締役　大塚雄一</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">契約数</p>
								<p class="contract-list__sub-txt">9</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">物件数</p>
								<p class="contract-list__sub-txt">1</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">最終更新日</p>
								<p class="contract-list__sub-txt">2025/6/18</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">最終ログイン</p>
								<p class="contract-list__sub-txt">2025/6/10</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">アプリ招待状況</p>
								<p class="contract-list__sub-txt">招待済み</p>
							</div>
						</a>
						<a href="" class="contract-list__item">
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">顧客ID</p>
								<p class="contract-list__sub-txt">A001</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">氏名</p>
								<p class="contract-list__sub-txt">株式会社　グリーンインベスト　代表取締役　大塚雄一</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">契約数</p>
								<p class="contract-list__sub-txt">9</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">物件数</p>
								<p class="contract-list__sub-txt">1</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">最終更新日</p>
								<p class="contract-list__sub-txt">2025/6/18</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">最終ログイン</p>
								<p class="contract-list__sub-txt">2025/6/10</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">アプリ招待状況</p>
								<p class="contract-list__sub-txt">招待済み</p>
							</div>
						</a>
						<a href="" class="contract-list__item">
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">顧客ID</p>
								<p class="contract-list__sub-txt">A001</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">氏名</p>
								<p class="contract-list__sub-txt">株式会社　グリーンインベスト　代表取締役　大塚雄一</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">契約数</p>
								<p class="contract-list__sub-txt">9</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">物件数</p>
								<p class="contract-list__sub-txt">1</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">最終更新日</p>
								<p class="contract-list__sub-txt">2025/6/18</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">最終ログイン</p>
								<p class="contract-list__sub-txt">2025/6/10</p>
							</div>
							<div class="contract-list__sub">
								<p class="contract-list__sub-ttl">アプリ招待状況</p>
								<p class="contract-list__sub-txt">招待済み</p>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="wp-pagination">
				<div class="wp-pagenavi" role="navigation">
					<!-- <a class="previouspostslink"></a> -->
					<span class="current">1</span>
					<a href="" class="page">2</a>
					<a href="" class="page">3</a>
					<a href="" class="page">4</a>
					<a href="" class="page">...</a>
					<a href="" class="page">19</a>
					<a href="" class="page">20</a>
					<a href="" class="nextpostslink"></a>
				</div>
			</div>
		</div>
	</div>
</section>