<section class="sec-login">
	<div class="sec-login__img">
		<img src="<%= RELATIVE_PATH %>img/login/mv.jpg" alt="AXIDEA">
	</div>
	<div class="sec-login__form">
		<form>
			<h1 class="sec-login__form-logo">
				<img src="<%= RELATIVE_PATH %>img/login/logo-login.png" alt="AXIDEA">
			</h1>
			<ul class="sec-login__list">
				<li class="sec-login__list-item">
					<h2 class="sec-login__list-ttl">メールアドレス</h2>
					<input type="text" placeholder="メールアドレス">
				</li>
				<li class="sec-login__list-item">
					<h2 class="sec-login__list-ttl">パスワード</h2>
					<input type="text" placeholder="パスワード">
				</li>
			</ul>
			<button class="c-btn__01">ログイン</button>
		</form>
	</div>
</section>